@media (max-width: 800px) {
    body {
        flex-direction: column;
    }

    .bar {
        display: block;
        min-height: auto;
    }

    .map {
        width: 100vw;
        height: 300px;
        display: block;
        z-index: 2;
        position: -webkit-sticky;
        position: sticky;
    }

}