/* 
Акцентный цвет: #55c88e
Тёмный акцентный цвет: #419a6b
Серый: #757575 
Тень: #ccc
*/


@import "reset-style.css";
@import "font-style.css";
@import "defualt-style.css";

body {
    display: flex;
    font-family: "Tahoma Regular";
}

.bar {
    display: inline-block;
    min-width: 400px;
    width: 25vw;
    min-height: fit-content;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    background: white;
    overflow-y: scroll;
}



header {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0; 
    padding: 0 24px 0 34px;
}

.logo {
    font-family: "Tahoma Bold";
    font-size: 24px;
    color: #55c88e;
}

header img {
    width: 25px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 10px 0;
}

.tab {
    width: 100%;
    text-align: center;
    color: #757575;
    border-bottom: 3px solid #757575;
    transition: border 0.2s ease-in-out;
}

.tab:hover {
    cursor: pointer;
    border-bottom-color: #419a6b;
}

.tab:hover:active,
.active-tab {
    border-bottom-color: #55c88e;
}

.section-item {
    display: none;
}

.active-tab-item 
{
    display: block;
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group:not(:last-child) {
    margin-bottom: 20px;
}

.form-group label {
    margin-left: 30px;
    position: relative;
    transition: all 0.4s ease-in-out;
    height: 30px;
}

.form-group input[type="text"] {
    padding-left: 10px;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    border-left: 2px solid #757575;
    padding-top: 10px;
    width: 220px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.form-group label::after {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: -15px;
    background-color: #55c88e;

}

.help-message {
    width: 100%;
    position: absolute;
    color: #757575;
    transform: translate(0px, -50%);
    left: 10px;
    top: 50%;
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, font-size 0.4s ease-in-out;
}

.form-group input[type="text"]:focus,
.form-group input[type="text"]:hover,
.form-group input[type="text"]:not(:placeholder-shown) {
    border-left-color: #55c88e;
}

.form-group input:focus + .help-message,
.form-group input:not(:placeholder-shown) + .help-message {
    top: 0;
    transform: translate(0, 0);
    font-size: 10px;
}

.form-group button {
    box-shadow: -3px 3px 10px rgba(204, 204, 204, 0.22);
    background-color: white;
    width: 46px;
    height: 19px;
    border-radius: 7.31px;
    margin-left: 15px;
    transition: transform 0.4s ease-in-out, box-shadow 0.2s ease-in-out;
    position: relative;

}

.form-group button:active {
    box-shadow: -3px 3px 10px rgba(85, 200, 142, 0.4);
}


/* Список */

.header-list {
    display: flex;
    align-self: center;
}


.img-list {
    z-index: 2;
    display: block;
    width: 22px;
    margin: 0 21px 0 6px;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0);
}

.arrow-open {
    transform: rotate(180deg);
}

.spoiler {
    border-right: 10px solid #757575;
    margin-right: -24px;
    padding: 10px 0;
    transition: border 0.4s ease-in-out;
    width: 100%;
}

.spoiler-check-show {
    border-right-color: #55c88e;
}

.spoiler > *:not(:last-child),
.about-transport > *:not(:last-child) {
    margin-bottom: 7px;
}

.header-list:hover .spoiler {
    border-color: #419a6b;
}

.open {
    transform: rotate(-180deg);
}

.base-info, .time-interval {
    max-width: 90%;
}

.base-info span {
    display: block;
    color: #757575;
}

.base-info span,
.time-interval span  {
    white-space: nowrap;
}

.time-interval {
    margin-top: 10px;
}

.time-interval span {
    box-shadow: -3px 3px 10px rgba(204, 204, 204, 0.22);
    color: #55c88e;
    padding: 2px 5px;
    background-color: white;
    border-radius: 20px;
}

.time-interval span:not(:last-child) {
    margin-right: 15px;
}

.transport-item input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
}

.body-list {
    display: none;
    position: relative;
}

.body-list-open {
    display: block;
}

.body-list::before {
    top: 0;
    left: 15px;
    content: "";
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 100%;
    border-left: 2px dashed #55c88e;
}

.body-list .body-list-item {
    display: flex;
    padding: 18px 0 18px 47px;
}

.icon-check {
    display: block;
    margin-right: 22px;
    display: block;
    width: 22px;
    background-image: url("../img/alpha-tram.svg");
    background-repeat: no-repeat;
    background-position: center tops;
    filter: brightness(0) opacity(0.53);
    transform-origin: center top;
    transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out;
}

.body-list div .icon-check {
    filter: none;
}

.body-list label:hover .icon-check {
    transform: scale(1.2);
}

.body-list input:checked + .icon-check {
    filter: none;
}

.place-item > div:not(:last-child) {
    margin-bottom: 18px;
}

.place-photo {
    position: relative;
    background-color: tomato;
    height: 100px;
}

.place-photo img {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) ;
}

.place-photo:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    background: rgb(85, 200, 142);
    mix-blend-mode: multiply
}

.place-description p {
    max-width: 400px;
    color: #757575;
    margin-top: 5px;
}

.place-item .form-group label {
    margin-left: 0;
}

.path {
    padding-left: 30px;
    border-left: 2px dashed #55c88e;
}

.action {
    display: flex;
    align-items: center;
}

.action:not(:last-child) {
    margin-bottom: 20px;
}

.action img {
    width: 22px;
    margin-right: 20px;
}

.action span {
    max-width: 400px;
}


@media (max-width: 800px) {
    body {
        display: block;
        min-width: fit-content;
        background-color: #f1f1f1;
    }

    .bar {
        display: block;
        min-height: auto;
        box-shadow: none;
        background-color: transparent;
        overflow-y: auto;
    }

    .map {
        width: 100%;
        min-height: 300px;
        display: block;
        z-index: 2;
        position: -webkit-sticky;
        position: sticky;
    }

    header {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: white;
        height: 30px;
        margin: 0;
        width: auto;
        border-radius: 0 15px 15px 0;
    }

    .logo {
        font-size: 18px;
    }

    header img {
        margin-left: 30px;
    }

    nav {
        border-radius: 15px 15px 0 0;
        background-color: white;
        margin-top: 15px;
    }

    .section-item {
        background-color: white;
        margin: 0;
        padding-bottom: 22px;
        padding-top: 22px;
        border-radius: 15px;
    }

    .bar:nth-child(3) {
        border-radius: 0 0 15px 15px;
    }

    .section-item:not(:last-child) {
        margin-bottom: 15px;
    }

    .place-description p {
        max-width: 100%;
    }

    
.action span {
    max-width: 100%;
}
}

